/* Може да се разработят за различни устройства различни стилове, примерно за телефони и таблети съдържанието да е едно под друго, но няма нужда тъй като flexbox flex-wrap оправя положението*/ 

/*
@media screen and (max-width: 600px) {
  .projects {
    flex-direction: column;
  }
}*/

body {
  background-color: rgb(24, 26, 27);
  color: rgb(255, 255, 255);
  padding: 10px;
}

#projects {
	display: flex;
	flex-direction: row;
	font-size: 150px;
	text-align: center;
	background-color: rgba(0, 64, 255, 0.7);
	flex-wrap: wrap;
	margin: 10px;
}

/* това не изглежда хубаво когато застанат едно под друго
.projects > div:first-child {
  margin: 16px;
}
*/
#projects > div {
  border: 3px solid rgb(60, 65, 68);
  font-size: 16px;
  margin: 16px 12px;
  padding: 15px;
  background-color: rgb(36, 39, 41);
}

/* Курсора на choose files бутона не се показва където искам */
#projects > div:hover , form > input{
  cursor: pointer;
}

#projects > div > h3 {
  font-size: 25px;
}

#projects > div > .description {
  font-size: 15px;
  padding: 10px;
  color: red;
  position: relative;
  bottom: -20px;
}

form {
  margin: 10px;
  padding: 7px;
  background-color: rgb(36, 39, 41);
  color: rgb(6, 26, 0);
  font-size: 16px;
  border: 5px solid rgba(0, 64, 255, 0.7);
  color: rgb(255, 255, 255);
}
